<div class="relativo">
  <div class="cabecera bg-gradient-success pb-8 pt-5 ">
  </div>


  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-paleta" points="2560 0 2560 300 0 100"></polygon>
    </svg>
  </div>

  <div class="container-fluid  mt--7 " id="centering">
    <ng-container *ngIf="showFacturas">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="facturasTitulo">Lista de facturas</h3>
        </div>
      </div>
      <div class="row mt-2">

        <div class="col-xl-8 mb-xl-0">

          <div class="card shadow">
            <div class="card-header border-0">
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>Inicio Facturacion</th>
                    <th>Fin Facturacion</th>
                    <th>Centro</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Factura of FacturasContratista">
                    <td>{{Factura.facturaInicioPeriodo| date: 'dd/MM/yyyy'}}</td>
                    <td>{{Factura.facturaFinPeriodo}}</td>
                    <td>{{Factura.centroDiposicion.centroDisposicionNombre}}</td>
                    <td>{{Factura.facturaCostoTransporte}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>

          <div class="right mt-2 mr-2">
            <label for=""><b> Ultima facturación:</b></label>
            <div class="right mr-2">
              <label for=""><b>{{UltimaFacturacion | date: 'dd/MM/yyyy'}}</b></label>
            </div>
          </div>

          <div class="text-center">
            <button id="btn-iniciar-sesion" type="button" (click)="generarFacturas()"
              class="btn btn-primary my-4">Generar Facturacion</button>
          </div>
        </div>
      </div>



    </ng-container>


    <ng-container *ngIf="showVehiculos">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="facturasTitulo">Lista de Vehículos</h3>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xl-8 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th>Ruta</th>
                    <th>Placa</th>
                    <th>Tipo </th>
                    <th>Fecha de registro</th>
                    <th>Estado</th>
                    <th>Editar</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Vehiculo of VehiculosContratista">
                    <td>{{Vehiculo.ruta.rutaNombre}}</td>
                    <td> {{Vehiculo.vehiculoPlaca}}</td>
                    <td>{{Vehiculo.tipo.tipoNombre}}</td>
                    <td>{{Vehiculo.vehiculoFechaCreacion}}</td>
                    <td><a routerLinkActive="active"
                        [routerLink]="['/Contratistas/editarVehiculo',Vehiculo.vehiculoPlaca]" class="nav-link"><button
                          type="primary" class="btn btn-editar mt-4">Editar</button></a></td>
                    <td><button (click)="cambiarEstado(Vehiculo.vehiculoId)" type="primary"
                        class="btn btn-estado mt-4">{{Vehiculo.vehiculoEstado | transformarEstado }}</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>



    </ng-container>
  </div>