#centering {
    width: 100%;
    position: absolute;
    left: calc(20% - 75px);
  }

.facturacion{
  width: 100%;
  position: absolute;
  top: calc(150% - 75px);
  left: calc(90% - 75px);
}


.right{
  font-size: 110%;
  color: #D2DEC3;
  float:right;
  width:100%;
  text-align: right;
}

.btn-editar{
  width: 100%;
  background-color: darkgreen;
  color: white;
  font-weight: lighter;

}
.btn-estado{
  width: 100px;
  background-color: darkred;
  color: white;
  font-weight: lighter;
}

.facturasTitulo{
  color: #051f34;
  font-weight: 500;
  font-size: 300%
}

.fill-paleta{
  fill: #172b4d;
}

.cabecera{
  padding-top: 11rem !important;
  width:120%;
}
.separator{
  width:120%;
}

.relativo{
  position: relative;
}
