<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid  mt--7 " id="centering">
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Facturas</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" sortable="facturaInicioPeriodo" (sort)="onSort($event)">Inicio Facturacion</th>
                <th scope="col"sortable="facturaFinPeriodo" (sort)="onSort($event)" >Fin Facturacion</th>
                <th scope="col" sortable="contratista.contratistaNombre" (sort)="onSort($event)" >Contratista</th>
                <th scope="col" sortable="facturaCostoTransporte" (sort)="onSort($event)">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Factura of FacturasCentro">
                <td>{{Factura.facturaInicioPeriodo}}</td>
                <td>{{Factura.facturaFinPeriodo}}</td>
                <td>{{Factura.contratista.contratistaNombre}}</td>
                <td>{{Factura.facturaCostoTransporte}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>