#centering {
    width: 100%;
    position: absolute;
    left: calc(20% - 75px);
  }

.facturasTitulo{
  color: #051f34;
  font-weight: 500;
  font-size: 300%
}

.fill-paleta{
  fill: #172b4d;
}

.cabecera{
  padding-top: 11rem !important;
  width:120%;
}
.separator{
  width:120%;
}

.relativo{
  position: relative;
}

