.h-registro{
    color: #e3e4bc;
}

.carta-vehiculo{
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    background-color: #e3e4bc;
    color: #000000;
    text-align: left;
    line-height: normal;
    font-family: Open Sans, sans-serif;
}
