.cerrarSesion{
    
    display: block;
    text-align: center; 
    width: 50%;
    margin-top: 310%;
    >button{
        background-color: #db2007;
        
    border-radius: 40px;
    color: white;
    font-weight:normal;
    justify-content: center;
    
    }
    
}
.posicion-absoluta{
    
  position: absolute;
}

i p{
  line-height:50px;
  vertical-align:center;
}

i:hover p{
  line-height:70px;
}

