<div class="posicion-absoluta">
<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-gradient-white" id="sidenav-main">
  
    <!-- Brand routerLinkActive="active" [routerLink]="['/Contratistas/menuContratistas']" -->
    <a class="navbar-brand mt-3 pt-0" >
      <img src="../../../assets/img/brand/recolecta-logo.png" class="navbar-brand-img" alt="...">
    </a>
    <!-- Collapse -->
    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a  routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Form -->
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>
      <!-- Navigation -->
      <ng-container *ngIf="showRutasAdmin">
        <ul class="navbar-nav">
          <li *ngFor="let menuTrabajador of menuTrabajador" class="{{menuTrabajador.class}} nav-item">
              <a routerLinkActive="active" [routerLink]="[menuTrabajador.path]" class="nav-link">
                  <i class="ni {{menuTrabajador.icon}}"></i>
                  {{menuTrabajador.title}}
              </a>
          </li>
      </ul>

      </ng-container>

      <ng-container *ngIf="showRutasContratista">
        <ul class="navbar-nav">
          <li *ngFor="let menuContratista of menuContratista" class="{{menuContratista.class}} nav-item">
              <a routerLinkActive="active" [routerLink]="[menuContratista.path]" class="nav-link">
                  <i class="ni {{menuContratista.icon}}"></i>
                  {{menuContratista.title}}
              </a>
          </li>
      </ul>

      </ng-container>
      
      
      <div class=" cerrarSesion">
        <button (click)="cerrarSesion()" type="menu" class="btn">Cerrar sesión</button>
      </div>
     
    </div>
</nav>
</div>
