.cerrarSesion{
    
    display: block;
    text-align: center; 
    width: 50%;
    margin-top: 310%;
    >button{
        background-color:red;
    color: white;
    font-weight:normal;
    justify-content: center;
    border-radius: 4px;
    
    }
    
}
.posicion-absoluta{
    
  position: absolute;
}