
.centering {
  width: 100%;
  position: absolute;
  left: calc(20% - 75px);
}

.facturacion{
width: 100%;
position: absolute;
top: calc(150% - 75px);
left: calc(90% - 75px);
}


.right{
font-size: 110%;
color: #D2DEC3;
float:right;
width:100%;
text-align: right;
}

.btn-editar{
width: 100%;
background-color: darkgreen;
color: white;
font-weight: lighter;

}
.btn-estado{
width: 100px;
background-color: darkred;
color: white;
font-weight: lighter;
}

.facturasTitulo{
color: #051f34;
font-weight: 500;
font-size: 300%
}

.fill-paleta{
fill: #172b4d;
}

.cabecera{
padding-top: 11rem !important;
width:120%;
}
.separator{
width:120%;
}




th{
  background-color: #dcdfd9;
  font-weight:bolder;
  font-size:medium;
  color: rgb(85, 83, 83);
}

td {
  background-color: #f4f5f5;
  border-top: 2px solid rgb(216, 214, 214);
  color:rgb(83, 82, 82);
  font-weight: 500;
width: 20%;
}
.btn-ver{
margin-bottom: 5%;
background-color: white;
color:#051f34;
}
table {
  width: 100%;
}




.mat-paginator{
  width: 100%;
  font-weight: normal;
  font-size:small;
  background-color: #dcdfd9;
  color: rgb(85, 83, 83);
}

 .mat-select{
  border-left: 10px solid #bad6db ;
  border-top: 5px solid #bad6db ;
  border-right: 10px solid #bad6db ;
  border-bottom: 5px solid #bad6db ;
  border-radius: 3px;
  background-color: #bad6db;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  color: white;
}

::ng-deep .tabla-facturas{
  .mat-form-field-ripple {
    /*change color of underline when focused*/
    color: white;
    background-color:  white !important;;
   }
   .mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  }
  .mat-form-field-label{
    color: white !important;
   }

   .mat-focused  {
    /*change color of label*/
    color: white !important;
   }
   .mat-form-field-empty.mat-form-field-label {
    color: white;
}


   .mat-select-value{    
     
    font-size: 120%;
    font-style:italic;
    height: 10%;
    color: black!important;
    font-style: inherit;
  
  }
  .mat-paginator {
    .mat-paginator-container {
        justify-content: start;
        // override material paginator page switch
  .mat-paginator-range-label {
    order: 2;
}

.mat-paginator-navigation-previous {
    order: 1;
}
.mat-paginator-navigation-next {
    order: 3;
}
        
    }
  }

}