<body>
  <header class="clearfix ml-3  mr-3 mt-4">
    <div id="logo">
      <img src="../../../assets/img/brand/recolecta-logo.png">
    </div>

    <div id="company">
      <h2 class="name"> <b> {{detalles_factura.contratistaNombre}}</b></h2>
      <div>{{detalles_factura.contratistaDireccion}}</div>
      <div>{{detalles_factura.contratistaCelular}}</div>
      <div> <b> {{detalles_factura.contratistaCorreo}} </b></div>
    </div>
  </header>
  
  <main>
    <div id="details" class="clearfix ml-3 mr-3">
      <div id="client">
        <div class="to">Factura dirigida a:</div>
        <h2 class="name"> <b> {{detalles_factura.centroDisposicionNombre}} </b> </h2>
        <div class="address">{{detalles_factura.centroDisposicionDireccion}}</div>
        <div class="email"> <b> {{detalles_factura.centroDisposicionCorreo}} </b></div>
      </div>
      <div id="invoice">
        <h1>Factura # <b>{{detalles_factura.facturaId}}</b> </h1>
        <div class="date">Fecha de inicio de facturación: <b> {{detalles_factura.facturaInicioPeriodo}}</b></div>
        <div class="date">Fecha de fin de facturación: <b>{{detalles_factura.facturaFinPeriodo}}</b> </div>
      </div>
    </div>
    <table   >
      <thead>
        <tr>
          <th class="desc" ><b>Vehiculo</b></th>
          <th class="unit" ><b>Placa</b></th>
          <th class="total"><b>Total</b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let IngresosProyeccion of Ingresos">
          <td class="desc" >{{IngresosProyeccion.marca}}</td>
          <td class="unit">{{IngresosProyeccion.placa}}</td>
          <td class="total">{{IngresosProyeccion.valorTransportado}}</td>
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="0"></td>
          <td colspan="1">Subtotal</td>
          <td class="unit"> <b>${{detalles_factura.facturaCostoTransporte}}</b> </td>
        </tr>
        <tr>
          <td colspan="1"></td>
          <td colspan="1">Multa por exceso de carga:</td>
          <td class="descuento"> <b>${{detalles_factura.facturaDescuento}}</b> </td>
        </tr>
        <tr>
          <td colspan="1"></td>
          <td colspan="1">Total:</td>
          <td class="unit">{{detalles_factura.facturaCostoTransporte - detalles_factura.facturaDescuento}}</td>
        </tr>
      </tfoot>
    </table>
    
  </main>
  <div class="centrar">
    <button class="btn btn-cerrar" (click) = "cerrarFactura()">
      Cerrar
    </button>
  </div>
</body>
