.cambioLogin{
    display: block;
    text-align: center;
    color: white;
        >a{
            color: #2dce89;
        }
        
}

.botonInicioSesion{
    background-color: #172b4d;
    color:#E3E4BC;
    font-weight: normal;
}
