.cerrarSesion{
    display: flex;
    width: 100%;
    margin-left: 85%;
    justify-content: left;


    >button{
        
        margin-left: 3%;
        width: 150px;
        background-color:red;
        border:0px;
        color: white;
        font-weight: normal;

    }
    
}