#shape {
    width: 1025px;
    height: 589px;
    transform: rotate(-0.07864292294844813deg);
    border: 1px solid #797979;
    background-color: #172b4d;
    box-sizing: border-box;
    font-family: 'Arial Regular', 'Arial', sans-serif;
    color: #333333;
    text-align: center;
    line-height: normal;
  }