
<body>
    <header class="clearfix ml-3  mr-3 mt-4">
      <div id="logo">
        <img src="../../../assets/img/brand/recolecta-logo.png">
      </div>

      <div id="company">
        <h2 class="name"> <b> {{Factura.contratista.contratistaNombre}}</b></h2>
        <div>{{Factura.contratista.contratistaDireccion}}</div>
        <div>{{Factura.contratista.contratistaCelular}}</div>
        <div> <b> {{Factura.contratista.contratistaCorreo}} </b></div>
      </div>
    </header>
    
    <main>
      <div id="details" class="clearfix ml-3 mr-3">
        <div id="client">
          <div class="to">Factura dirigida a:</div>
          <h2 class="name"> <b> {{Factura.centroDiposicion.centroDisposicionNombre}} </b> </h2>
          <div class="address">{{Factura.centroDiposicion.centroDisposicionDireccion}}</div>
          <div class="email"> <b> {{Factura.centroDiposicion.centroDisposicionCorreo}} </b></div>
        </div>
        <div id="invoice">
          <h1>Factura # <b>{{Factura.facturaId}}</b> </h1>
          <div class="date">Fecha de inicio de facturación: <b> {{Factura.facturaInicioPeriodo}}</b></div>
          <div class="date">Fecha de fin de facturación: <b>{{Factura.facturaFinPeriodo}}</b> </div>
        </div>
      </div>
      <table   >
        <thead>
          <tr>
            <th class="desc" ><b>Vehiculo</b></th>
            <th class="unit" ><b>Placa</b></th>
            <th class="total"><b>Total</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let IngresosProyeccion of Ingresos">
            <td class="desc" >{{IngresosProyeccion.marca}}</td>
            <td class="unit">{{IngresosProyeccion.placa}}</td>
            <td class="total">{{IngresosProyeccion.valorTransportado}}</td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="0"></td>
            <td colspan="1">Subtotal</td>
            <td class="unit"> <b>${{Factura.facturaCostoTransporte}}</b> </td>
          </tr>
          <tr>
            <td colspan="1"></td>
            <td colspan="1">Multa por exceso de carga:</td>
            <td class="descuento"> <b>${{Factura.facturaDescuento}}</b> </td>
          </tr>
          <tr>
            <td colspan="1"></td>
            <td colspan="1">Total:</td>
            <td class="unit">{{Factura.facturaCostoTransporte - Factura.facturaDescuento}}</td>
          </tr>
        </tfoot>
      </table>
      
    </main>
    <div class="centrar">
      <button class="btn btn-cerrar" (click) = "cerrarFactura()">
        Cerrar
      </button>
    </div>
  </body>

  