<div class="header bg-gradient-default pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid  mt--7 " id="centering">
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Facturas</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Mes</th>
                <th scope="col">Contratista</th>
                <th scope="col">Ruta</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  Enero
                </th>
                <td>
                  San Cipriano
                </td>
                <td>
                  <i class="fas "></i> 1
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Febrero
                </th>
                <td>
                  San Cipriano
                </td>
                <td>
                  <i class="fas"></i> 2
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Marzo
                </th>
                <td>
                  La Comuna
                </td>
                <td>
                  <i class="fas"></i> 3
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Abril
                </th>
                <td>
                  La Comuna
                </td>
                <td>
                  <i class="fas"></i> 4
                </td>
              </tr>
              <tr>
                <th scope="row">
                  Mayo
                </th>
                <td>
                  La Comuna
                </td>
                <td>
                  <i class="fas"></i> 5
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
